
/*lib*/
.con{
    width:1920px;
  }
  
  /*cus*/
  
  .wframe_img{ 
    height:1240px;
     width:1920px;
    background-size: 140%;
    object-fit:contain;
    background-position-x:-253px;
    background-position-y:-500px;
    background-image:url(https://cdn.jsdelivr.net/gh/nemone517/todogther/docs/todogther_img/wframe.png);
    mix-blend-mode: luminosity;
    animation-name: frame;
    animation-duration: 4000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  
  @keyframes frame {
    0% {
      background-position:0 center;
    }
    
    100% {
      background-position:-10000% center;
    }
  }